recursive-include * *.js *.html *.txt *.gif *.png *.css *.wsdl *.xml *.xsd *.sh *.map *.ico *.psd *.scss *.json *.swf *.woff2 *.woff *.ttf *.md
include versioneer.py
recursive-include ESSArch_TA/config *.conf *.crt *.key
include ESSArch_TA/config/celerydeta
recursive-include ESSArch_TA/static *