

{% block content %} 

<link rel="stylesheet" href="/static/esstools.css" type="text/css" media="all" />
<link rel="stylesheet" href="/static/superfish.css" type="text/css" media="all" />
<link rel="stylesheet" href="/static/jstree/dist/themes/default/style.min.css" />

<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/static/jquery/jquery-1.11.3.js"></script>
<script type="text/javascript" src="/static/jquery/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/static/hoverIntent.js"></script>
<script type="text/javascript" src="/static/superfish.js"></script>
<script type="text/javascript" src="/static/jstree/dist/jstree.min.js"></script>


<div id="navigate">
Navigation
</div>

<script>

var ipList = [];

$.getJSON( "{% url 'create.views.navigationView' %}", function(ipList1) {
	
	ipList = ipList1;
	populateNavigation();
	$('#navigate').jstree();
	
	});


	
function populateNavigation(){
	
	var text1 = "<ul>";
	for (i = 0; i < ipList.length; i++) {
	    text1 += "<li>" + ipList[i].archivist_organization + "<ul><li>" + ipList[i].label + "</li></ul></li>"
	}
	text1 += "</ul>"
	document.getElementById("navigate").innerHTML = text1;
	
}	
</script>


{% endblock %} 
