.content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.column-label {
    margin: auto;
}
.content-wrapper > div {
    margin-bottom: 10px;
    margin-left: 5px;
}

@include medium-screen-down {
    .content-wrapper > div {
        margin-left: 0;
    }
}
.reception {
    .content-wrapper > div {
        margin-left: 0 !important;
    }
}
.text-center {
    text-align: center;
    margin: auto;
}
.progress {
    height: 20px;
    width: 150px;
    margin: 0;
    background-color: #aaa;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.48);
}
.progress b {
    position: relative;
}
.column-label {
    cursor: pointer;
}
.select-sub-edit-eventlog-wrapper {
    @include container;
    position: relative;
    &:focus {
        outline: 0;
    }
}
.select-view {
    margin: 5px;
    padding: 5px;
}
.select-view > .checkbox {
    height: 10px;
}
.select-view > .table>tbody>tr>td {
    padding-top: 0px;
    padding-bottom: 0px;
}
.table-col {
    margin: 0;
}
.form-control {
    height: 26px;
    padding-left: 5px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 13px;
}
.sub-select-view {
    border-top-style: solid;
    border-color: $border-color;
    height: 60px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding: 5px;
}
.sub-select-view > select {
    margin-left: 20px;;
    height: 30px;
}
.sub-select-profile {
    width: 25%;
}
.sub-select-agreement {
    width: 25%;
}
.sub-select-nationality {
    width: 10%;
}

.edit-view {
    border-color: $border-color;
    padding: 5px;
    margin: 5px;
    position: relative;
    .formly-field {
        width: 24%;
        margin-left: 5px;
    }
    .formly {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        padding: 5px;
        width: 100%;
    }
    .btn-danger {
        float: right;
    }

}
.eventlog-view {
    border-top-style: solid;
    border-top-width: 1px;
    border-color: $border-color;
    display: flex;
    flex-direction: row;
    height: 70px;
    margin: 5px;
    padding: 5px;
    justify-content: space-between;
}

.eventlog-view .form-group {
    display: flex;
    flex-direction: column;
    width: 33%;
}
.eventlog-view .btn-info {
    float: right;
    margin-top: 10px;
}
input[type="checkbox"] {
    transform:scale(1.2, 1.2);
}
.eventlog-view .submit-button {
    height: 40px;
}
.edit-unidentified-ip .formly {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    width: 100%;
}
.eventlog-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    margin-left: 10px;
}
.submit-sip-eventlog-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    margin-left: 10px;
}
.receive-sip-eventlog-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 5px;
}
.receive-sip-eventlog-form .checkbox {
    margin-right: 5px;
}
.control-label {
    font-size: 10px;
}
.formly-field {
    width: 20%;
    margin-left: 5px;
}
.submit-button {
    margin-left: 5px;
}
.validator-choices {
    .formly {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        min-height: 70px;
        .formly-field {
            min-width: 105px;
            width: 10%;
        }
        select {
            width: 170px;
        }
    }
}
.receive-button {
    float: right;
}
.transfer-sip-button {
    float: right;
}
.version-info-page {
    @include container(10px);
    margin-top: 10px;
}

.receive-footer {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    * {
        margin-right: 3px;
    }
}

.transfer-info-text {
    margin: 0;
    align-self: flex-end;
}
