.workspace {
    margin-top: 10px;
    .workspace-sub-menu {
        border-style: solid;
        border-color: $border-color;
        border-width: 1px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        background-color: white;
        color: black;
        padding: 5px 10px 5px 10px;
        width: 100%;
        p {
            font-size: 12pt;
        }
        .sliding-middle-out {
            display: inline-block;
            position: relative;
            padding-bottom: 3px;
        }
        .sliding-middle-out:after {
            content: '';
            display: block;
            margin: auto;
            height: 1px;
            width: 0px;
            background: transparent;
        }
        .chosen:hover:after {
            width: 100%;
            height: 1px;
            background: black;
        }
        .chosen:after {
            width: 100%;
            height: 1px;
            background: black;
        }
    }
    .list-view {
        margin-left: 0px !important;
        margin-top: 0px !important;
    }
    .select-sub-edit-eventlog-wrapper  {
        margin-left: 0px !important;
    }
    .validate-button {
        float: right;
        margin-bottom: 10px;
    }
    .table {
        .validation-success {
            background-color: #90ee90;
        }
        .validation-failure {
            background-color: #ff5050;
        }

    }
}
