<div ng-if="row.state != 'Unidentified'" class="white-space-nowrap">
  {{row.object_identifier_value}}
</div>
<div class="white-space-nowrap" ng-if="row.state == 'Unidentified'" context-menu="menuOptions('row', row)">
  <a
    tabindex="-1"
    ng-click="identifyIpModal(row); $event.stopPropagation();"
    uib-tooltip="{{'RECEIVEUNIDENTIFIED' | translate}}: {{row.object_identifier_value}}"
    tooltip-placement="auto top"
    tooltip-append-to-body="true"
    >{{row.object_identifier_value}}</a
  >
</div>
