<div class="body-wrapper">
  <div class="header">
    <div class="logo-search-user-admin-wrapper">
      <div class="logo">
        <h3 class="page-title" ui-sref="home.info">ESSArch Tools for Archive</h3>
        <h3 class="page-title-small" ng-click="infoPage()">ETA</h3>
      </div>
      <div class="user-admin">
        <div ng-controller="UtilCtrl" class="mobile-notification">
          <div class="notification-icon position-relative show-sm">
            <i
              ng-click="showAlert()"
              class="fas fa-lg fa-bell"
              uib-tooltip="{{'NOTIFICATIONS.NOTIFICATIONS' | translate}}"
              tooltip-placement="auto top"
              tooltip-append-to-body="true"
            ></i>
            <div
              ng-click="showAlert()"
              ng-if="unseenNotifications != 0 && unseenNotifications <= 999"
              class="unseen-text"
            >
              {{unseenNotifications}}
            </div>
            <div ng-click="showAlert()" ng-if="unseenNotifications > 999" class="unseen-text">{{999}}+</div>
          </div>
        </div>
        <user-dropdown auth="auth"></user-dropdown>
      </div>
    </div>
    <div class="menu-task-wrapper">
      <nav class="nav menu" ng-controller="UtilCtrl">
        <a
          tabindex="0"
          ng-keydown="navKeydownListener($event, 'home.reception')"
          class="nav-item sliding-middle-out"
          ng-class="{'chosen': $state.includes('home.reception')}"
          ui-sref="home.reception"
          ng-if="checkPermissions('home.reception')"
          >{{('RECEPTION' | translate)}}</a
        >
        <a
          tabindex="0"
          ng-keydown="navKeydownListener($event, 'home.workarea')"
          class="nav-item sliding-middle-out"
          ng-class="{'chosen': $state.includes('home.workarea')}"
          ui-sref="home.workarea"
          ng-if="checkPermissions('home.workarea')"
          >{{('WORKAREA' | translate)}}</a
        >
        <a
          tabindex="0"
          ng-keydown="navKeydownListener($event, 'home.transferSip')"
          class="nav-item sliding-middle-out"
          ng-class="{'chosen': $state.includes('home.transferSip')}"
          ui-sref="home.transferSip"
          ng-if="checkPermissions('home.transferSip')"
          >{{('TRANSFERSIP' | translate)}}</a
        >
        <a
          tabindex="0"
          ng-keydown="navKeydownListener($event, 'home.administration.import')"
          class="nav-item sliding-middle-out"
          ng-class="{'chosen': $state.includes('home.administration.import')}"
          ui-sref="home.administration.import"
          ng-if="checkPermissions('home.administration.import')"
          >{{('IMPORT.IMPORT' | translate)}}</a
        >
        <a
          tabindex="0"
          ng-keydown="navKeydownListener($event, 'home.dashboard')"
          class="nav-item sliding-middle-out"
          ng-class="{'chosen': $state.includes('home.dashboard')}"
          ui-sref="home.dashboard"
          ng-if="checkPermissions('home.dashboard')"
          >{{('DASHBOARD' | translate)}}</a
        >
      </nav>
      <div ng-controller="UtilCtrl" class="tasks-icons">
        <span
          ng-click="reloadPage()"
          class="fas fa-lg fa-sync-alt fa-sync-alt-animate-once"
          uib-tooltip="{{'REFRESHPAGE' | translate}}"
          tooltip-placement="auto top"
          tooltip-append-to-body="true"
        ></span>
        <a
          href="/admin/"
          class="fas fa-lg fa-cog"
          uib-tooltip="{{'SETTINGS' | translate}}"
          tooltip-placement="auto top"
          tooltip-append-to-body="true"
        ></a>
        <a
          ui-sref="home.versionInfo"
          class="fas fa-lg fa-question-circle"
          uib-tooltip="{{'HELP' | translate}}"
          tooltip-placement="auto top"
          tooltip-append-to-body="true"
        ></a>
        <div class="notification-icon">
          <i
            ng-click="showAlert()"
            class="fas fa-lg fa-bell"
            uib-tooltip="{{'NOTIFICATIONS.NOTIFICATIONS' | translate}}"
            tooltip-placement="auto top"
            tooltip-append-to-body="true"
          ></i>
          <div
            ng-click="showAlert()"
            ng-if="unseenNotifications != 0 && unseenNotifications <= 999"
            class="unseen-text"
          >
            {{unseenNotifications}}
          </div>
          <div ng-click="showAlert()" ng-if="unseenNotifications > 999" class="unseen-text">{{999}}+</div>
          <notifications></notifications>
        </div>
        <div
          class="organization-select"
          ng-controller="OrganizationCtrl"
          uib-tooltip="{{'ORGANIZATION.CHANGE_ORGANIZATION' | translate}}"
          tooltip-placement="auto top"
          tooltip-append-to-body="true"
        >
          <select
            tabindex="-1"
            style="width: auto; margin-left: 10px;"
            class="form-control"
            ng-model="currentOrganization"
            ng-disabled="availableOrganizations.length === 0"
            ng-change="changeOrganization(); updateListView()"
            ng-options="x as x.name for x in availableOrganizations track by x.id"
          >
            <option ng-hide="availableOrganizations.length > 0" selected value=""
              >{{'ORGANIZATION.NO_ORGANIZATIONS' | translate}}</option
            >
          </select>
        </div>
        <div ng-controller="LanguageCtrl" class="language-select" style="width: 100px; margin-left: 10px;">
          <select
            tabindex="-1"
            class="form-control"
            ng-model="currentLanguage"
            ng-change="changeLanguage(currentLanguage)"
            ng-options="x | translate for x in availableLanguages"
            style="width: 100%;"
            uib-tooltip="{{'CHOOSELANGUAGE' | translate}}"
            tooltip-placement="auto top"
            tooltip-append-to-body="true"
          ></select>
        </div>
      </div>
    </div>
  </div>
  <div class="nav-dynamic-wrapper">
    <div
      class="shortcut-nav-calendar-wrapper"
      ng-if="false && (('home.transferSip' | includedByState) || ('home.workarea' | includedByState))"
      ng-class="{'active-hamburger': hamburgerActive}"
    >
      <div ng-controller="AngularTreeCtrl" class="navigation">
        <br />
        <p ng-if="Agent.length > 0" style="padding: 0 0 0 20px">{{'AGENTS' | translate}}</p>
        <p>
          <treecontrol
            class="tree-light"
            tree-model="Agent"
            options="treeOptions"
            on-selection="showSelectedAgent(node)"
            selected-node="nodeOrg"
            uib-tooltip="{{'FILTERBY' | translate}}: {{'AGENT' | translate}}"
            tooltip-placement="auto top"
            tooltip-append-to-body="true"
          >
            {{node.name | translate}}
          </treecontrol>
        </p>
      </div>
    </div>
    <main tabindex="-1" ui-view class="dynamic-part"></main>
  </div>
</div>
<essarch-footer title="ESSArch Tools for Archive"></essarch-footer>
