<head>
    <link rel="stylesheet" type"text/css" href="static/frontend/scripts/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/frontend/styles/receive_sip.css">
    <link rel="stylesheet" type="text/css" href="static/frontend/styles/index.css">
    <!--Angular Scripts -->
    <!--App -->
    <!--Controllers-->
</head>
<body>
    <div class="content-wrapper">
        <div class="list-view" ng-include src="'static/frontend/views/list_view_table.html'">
        </div>
        <div>
            <button ng-if="selectedIp.id != ''" class="btn btn-info" ng-click="transferSip(ip)">{{'TRANSFERSIP' | translate}}</button>
        </div>
        <!--
        <uib-tabset active="activeTab">
            <uib-tab ng-repeat="t in tabsEditView" heading="{{t.label}}">
                <div class="select-sub-edit-eventlog-wrapper">
                </div>
            </uib-tab>
        </uib-tabset>
        -->
    </div>
</body>
