<head>
    <link rel="stylesheet" type"text/css" href="static/frontend/scripts/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/frontend/styles/receive_sip.css">
    <link rel="stylesheet" type="text/css" href="static/frontend/styles/index.css">
    <!--Angular Scripts -->
    <!--App -->
    <!--Controllers-->
</head>
<body>
    <div class="content-wrapper">
        <div class="list-view" ng-include src="'static/frontend/views/list_view_table.html'">
        </div>
        <div ng-if="includedIps.length">
            <div ng-include src="'static/frontend/views/validator_choices.html'"></div>
        </div>
        <div class="select-view">
            <div ng-if="statusShow || eventShow" class="events-status-wrapper">
                <div ng-include src="'static/frontend/views/event_table.html'"></div>
                <div ng-if="statusShow" class="status-view" ng-include src="'static/frontend/views/status_tree_view.html'"></div>
            </div>
            <div ng-if="includedIps.length">
                <form class="receive-sip-eventlog-form">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="approvedToReceive">{{'APPROVEDTORECEIVE' | translate}}</input>
                    </label>
                </div>
                <button ng-disabled="!approvedToReceive" class="btn btn-info receive-button" ng-click="receiveSip(includedIps)">{{'RECEIVESIP' | translate}}</button>
                </form>
            </div>
            <!--
                <uib-tabset active="activeTab">
                <uib-tab ng-repeat="t in tabsEditView" heading="{{t.label}}">
                <div class="select-sub-edit-eventlog-wrapper">
                <div ng-include src="t.templateUrl"></div>
                </div>
                </uib-tab>
                </uib-tabset>
            -->
        </div>
    </div>
</body>
