<div class="workarea-transformation">
    <div class="content-wrapper">
        <div class="list-view" ng-include src="'static/frontend/views/list_view_table.html'">
        </div>
        <div ng-if="statusShow || eventShow"class="events-status-wrapper">
            <event-table ng-if="eventShow" ip="ip"></event-table>
            <div ng-if="statusShow" class="status-view" ng-include src="'static/frontend/views/status_tree_view.html'"></div>
        </div>
        <div ng-if="filebrowser" class="file-browser" ng-include src="'static/frontend/views/filebrowser.html'"></div>
        <div class="select-sub-edit-eventlog-wrapper" ng-if="select">
            <div class="select-view">
                <div ng-if="ip.profile_validation" class="table-container">
                    <table class="table table-striped validator-table">
                        <thead>
                            <tr>
                                <th>{{'VALIDATOR' | translate}}</th>
                                <th>{{'STATUS' | translate}}</th>
                                <th>{{'FAILED' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="validator in vm.validators track by $index">
                                <td>{{validator.name}} <span style="color: red;">{{validator.required?'*':''}}</span></td>
                                <td>
                                    <i ng-if="validator.passed == true" class="fa fa-check" style="color: green;" uib-popover="{{'SUCCESS' | translate}}" popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true"></i>
                                    <i ng-if="validator.passed == false" class="fa fa-times" style="color: red;" uib-popover="{{'FAILURE' | translate}}" popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true"></i>
                                </td>
                                <td>
                                    {{validator.failed_count}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <span style="color: red">*</span> {{'REQUIRED' | translate}}
                </div>
                <button ng-disabled="!ip.profile_transformation || (ip.profile_validation && !ip.workarea.successfully_validated) || ip.state == 'Transforming' || ip.state == 'Transformed' || ip.state == 'Transferring' || ip.state == 'Transferred'"
                    ng-click="vm.transform(ip)" class="btn btn-info" style="float: right; margin-bottom: 10px;">{{'TRANSFORM' | translate}}</button>
            </div>
        </div>
    </div>
</div>
