<div class="workspace">
    <div class="content-wrapper">
            <div class="workspace-sub-menu" ng-controller="UtilCtrl as vm">
                <div ui-sref="home.workarea.validation" ng-class="{chosen: $state.current.name == 'home.workarea.validation'}"
                    class="nav-item sliding-middle-out">{{'VALIDATION' | translate}}</div>
                <div ui-sref="home.workarea" ng-class="{chosen: $state.current.name == 'home.workarea.conversion'}"
                class="nav-item sliding-middle-out">{{'CONVERSION' | translate}}</div>
                <div ui-sref="home.workarea" ng-class="{chosen: $state.current.name == 'home.workarea.transformers'}"
                class="nav-item sliding-middle-out">{{'TRANSFORMERS' | translate}}</div>
            </div>
            <div class="workarea-route" ui-view>
            </div>
    </div>
</div>
