<div class="workarea-transformation">
    <div class="content-wrapper">
        <div class="list-view" ng-include src="'static/frontend/views/list_view_table.html'">
        </div>
        <div ng-if="statusShow || eventShow"class="events-status-wrapper">
            <event-table ng-if="eventShow" ip="ip"></event-table>
            <div ng-if="statusShow" class="status-view" ng-include src="'static/frontend/views/status_tree_view.html'"></div>
        </div>
        <div ng-if="filebrowser" class="file-browser" ng-include src="'static/frontend/views/filebrowser.html'"></div>
        <div class="select-sub-edit-eventlog-wrapper" ng-if="select">
            <div class="select-view">
                <button ng-disabled="!ip.profile_transformation" ng-click="vm.transform(ip)" class="btn btn-info" style="float: right; margin-bottom: 10px;">{{'TRANSFORM' | translate}}</button>
            </div>
        </div>
    </div>
</div>
